@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: "Open Sans", sans-serif;
}
a {
  color: inherit;
}
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}
.navbar {
  display: flex;
  justify-content: space-between;
}
.navLinks {
  list-style: none;
  display: flex;
  gap: 40px;
  align-items: center;
}
.hireMe {
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font: bold;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 5px;
}

/* Benner */
.bennerColor {
  background-color: #fff8f3;
  background-image: url(Image/heroModelBg.png);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
}
.devoloperImg img {
  width: 70px;
  height: auto;
}
.devoloperImg {
  position: absolute;
  margin-left: -10%;
  margin-top: -4%;
}
.benner {
  display: flex;
}
.benner img {
  width: 400px;
  height: auto;
  margin-right: -100px;
  margin-bottom: -20px;
  margin-top: 70px;
}
.benner h3 {
  font-size: 25px;
  margin-bottom: 10px;
  font-weight: 600;
  color: #474747;
}
.leftBenner {
  margin-top: 120px;
}
.benner h1 {
  font-size: 55px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #181818;
}
.benner p {
  font-size: 20px;
  margin-bottom: 20px;
  width: 70%;
  color: #181818;
}
.benner .downloadCV {
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font: bold;
  width: 180px;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.benner .Cintract {
  color: #fd6e0a;
  font-size: 20px;
  font: bold;
  width: 150px;
  height: 50px;
  border: 2px solid #fd6e0a;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
}
.About {
  margin-top: 80px;
  background-color: #fff8f3;
  height: 550px;
  text-align: center;
  padding: 30px;
}
.aboutmeContent {
  margin-top: 40px;
  width: 90%;
  margin: 0 auto;
}
.aboutmeContent h2 {
  font-size: 35px;
  padding-top: 80px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #181818;
}
.aboutmeContent p {
  font-size: 18px;
  color: #757575;
  line-height: 1.8;
  margin-bottom: 60px;
}
.aboutmeContent ul {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin-top: 30px;
  margin-bottom: 50px;
  color: #757575;
  line-height: 2;
}
.aboutmeContent ul li strong {
  color: #474747;
}

.whatIDo {
  margin-top: 100px;
  text-align: center;
}
.whatIDo h2 {
  font-size: 35px;
  margin-bottom: 40px;
  font-weight: 700;
  color: #181818;
}

.whatIDo p {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #757575;
  width: 80%;
  margin: 0 auto;
  line-height: 1.8;
}

/* Container for the cards */
.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  padding: 40px;
}

/* Each card design */
.card {
  background: white;
  border-radius: 15px;
  padding: 25px;
  width: 250px;
  height: 400px;
  text-align: start;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  cursor: pointer;
}

.card img {
  margin-bottom: 15px;
}

.card h2 {
  font-size: 20px;
  color: #181818;
  margin-bottom: 10px;
}

.card p {
  font-size: 14px;
  color: #757575;
  line-height: 1.5;
}

/* Hover effect */
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
/* summaryOfResume */
.summaryOfResumeText {
  text-align: center;
  color: #181818;
  margin-top: 100px;
}
.summaryOfResume {
  display: flex;
  margin:  80px 0 80px 0;
  gap: 50px;
}
.MyExperience h2,
.MyEducation h2 {
  font-size: 30px;
  font-weight: bold;
  color: #474747;
}

.Border {
  border-bottom: #c0c0c0 1px solid;
}

.MyExperience ul li,
.MyEducation ul li {
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.MyExperience ul li h3,
.MyEducation ul li h3 {
  font-size: 25px;
  font-weight: bold;
  color: #474747;
  margin-bottom: 10px;
}
.MyExperience ul li h4,
.MyEducation ul li h4 {
  font-size: 20px;
  font-weight: 500;
  color: #757575;
  margin-bottom: 5px;
}
.MyExperience ul li p,
.MyEducation ul li p {
  font-size: 16px;
  color: #757575;
  margin-bottom: 5px;
}

.MyExperience ul,
.MyEducation ul {
  padding-top: 50px;
}
